.site_header {
    padding: 15px;
    border-bottom: 1px solid #ccc;

    .ctr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        margin-left: auto;
    }

    .site_logo {
        color: var(--primary-color);
        font-size: var(--h3-size);
        font-weight: var(--font-weight--bold);
    }

    .search_box {
        display: flex;
        border: 1px solid #ccc;
        padding: 2px 2.5px 2.5px;

        input {
            border: 0;
        }
    }

    .navigation {
        display: flex;
        list-style: none;

        a {
            padding: 7px 15px;
            cursor: pointer;
        }
    }
}

.search_box {
    position: relative;
    .suggested_results {
        position: absolute;
        top: 100%;
        background: #fff;
        box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.05);
        max-height: 500px;
        overflow: auto;
        z-index: 99;
        list-style: none;
        padding: 15px;
        border-radius: 0 0 15px 15px;
        width: 100%;
    }
    a{
        display: block;
        padding: 8px 0;
    }
    li:not(:last-child){
        border-bottom: 1px solid rgba($color: #000000, $alpha: .04);
    }
}
