<header class="site_header">
    <div class="ctr">
        <a routerLink="/" class="site_logo">ECom</a>
    <nav>
        <form *ngIf="menuType === 'default'" class="search_box">
            <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for products">
            <button (click)="submitSearch(searchInput.value)">Submit</button>
            <ul class="suggested_results" *ngIf="searchResult">
                <li *ngFor="let item of searchResult">
                    <a routerLink="search/query">{{item.name}}</a>
                </li>
            </ul>
        </form>
        <div [ngSwitch]="menuType" class="nav_wrap">
            <ul *ngSwitchCase="'default'" class="navigation">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/seller-auth">Seller</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
            <ul *ngSwitchCase="'seller'" class="navigation">
                <li><a routerLink="/seller-home">Product List</a></li>
                <li><a routerLink="/seller-add-product">Add Product</a></li>
                <li><a (click)="logout()">Logout</a></li>
                <li><a>{{sellerName | titlecase}}</a></li>
            </ul>
        </div>
    </nav>
    </div>
</header>