.site_header {
    padding: 15px;
    border-bottom: 1px solid #ccc;

    .ctr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        margin-left: auto;
    }
    .site_logo{
        color: var(--primary-color);
        font-size: var(--h3-size);
        font-weight: var(--font-weight--bold);
    }

    .search_box {
        display: flex;
        border: 1px solid #ccc;
        input {
            border: 0;
        }
padding: 2px 2.5px 2.5px;
    }

    .navigation {
        display: flex;
        list-style: none;

        a {
            padding: 7px 15px
        }
    }
}