.product_image{
    max-width: 150px;
    margin-inline:auto;
    display: block;
}
.delete_product{
    cursor: pointer;
}
.update_product{
    margin-left: 15px;
    color: green;
    cursor: pointer;
}