
.log_method{
    cursor: pointer;
    transition: color 200ms ease-in-out;
    margin-top: 15px;
    text-align: center;
    display: block;
    &:hover{
        color: var(--primary-color);        
    }
}