<swiper 
[config]="config"
(swiper)="onSwiper($event)"
*ngIf="popularProduct" 
class="mySwiper">

    <ng-template *ngFor="let item of popularProduct" swiperSlide>
      <div class="slide_card">
        <img [src]="item.image" alt="" class="product_img">
        <div class="product-details">
          <h3 class="prodct-name">{{item.name}}</h3>
          <p class="price">&#x20b9; {{item.price}} /-</p>
          <div class="color">Color: {{item.color}}</div>
          <p class="description">{{item.description}}</p>
        </div>
      </div>
    </ng-template>
    
    
    
    
    
    
  </swiper>