<div class="ctr">
    <div class="row row-cols-1 row-cols-xl-2">
        <div class="col" *ngFor="let item of searchResult">
            <div class="product_item">
                <figure class="produt_card">
                    <a routerLink="/details/{{item.id}}" class="img_outer">
                        <img [src]="item.image" alt="Prodcut Image">
                    </a>
                    <figcaption>
                        <h3 class="product_name">
                            <a routerLink="/details/{{item.id}}">{{item.name}}</a>
                        </h3>
                        <p><b>Price: {{item.price}} </b></p>
                        <p>Color: {{item.color}}</p>
                        <p>Category: {{item.category}}</p>
                        <p>{{item.description}}</p>
        
                    </figcaption>
                </figure>
            </div>
        </div>
        
    <h1 *ngIf="noSearchResult" class="noResultFound">No Result Found: {{searchedQuery}}</h1>    
        
    </div>
   
</div>
