<div class="ctr-full">
    <app-hero-slider></app-hero-slider>
    
</div>
<section class="page-section product_list">
    <div class="ctr">
        <h2 class="section_title">Tranding Products</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            <div class="col">
                <figure class="product_card">
                    <img src="https://i.gadgets360cdn.com/products/large/moto-g52-db-709x800-1649827920.jpg" alt="">
                    <figcaption class="product_body">
                        <h3 class="product-name">Oppo Phone pro max</h3>
                        <h6 class="product_price">Price: 10000</h6>
                        <h6 class="product_color">Color: Black</h6>
                        <h6 class="product_color">Color: Black</h6>
                    </figcaption>
                    <div class="product_footer">
                        <a href="#">View Detials</a>
                        <a href="#">Add To Cart</a>
                    </div>
                </figure>
            </div>
            
        </div>
    </div>
</section>
